 <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 py-4">
            <h4 class="text-white">О сервисе</h4>
            <p class="text-muted">Данный сервис объединяет братство в онлайн совместной духовной практике, изучении Арканов Священной Магии под руководством ведущих, проведение адепториумов и сатсангов, а так же онлайн встречах с Учителем Зором Алефом.</p>
          </div>
          <div class="col-sm-4 py-4">
            <h4 class="text-white">Контакт</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Написать</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">Онлайн ШЕУ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <section class="jumbotron text-center">
      <div class="container">
        <p class="lead text-muted">Присоединяйтесь к работе Школы Единого Учения и участвуйте в работе онлайн.</p>
      </div>
    </section>

    <div class="album text-muted maincontent">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">ШЕУ &copy; 2017</p>
  </div>
  <!-- /.container -->
</footer>
